<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <!--Sidebar content-->
                Search: <input ng-model="query" />
            </div>
            <div class="row">
                Sort by:
                <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <a href="#/phones/{{phone.id}}"><img ng-src="{{phone.imageUrl}}" class="col-md-6 img-responsive"/></a>
                                        <p class="col-md-6">{{phone.snippet}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="$index != 0">
                        <div ng-if="$index % 2 == 0">
                            <div class="clearfix visible-md visible-lg"/>
                        </div>
                        <div ng-show="$index % 2 != 0">
                            <div ng-show="$index % 1 == 0">
                                <div class="clearfix visible-xs visible-sm"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
