<div class="container-fluid">
    <h3>Autenticação:</h3>
    <hr/>
    <div ng-switch="action">
        <!-- register -->
        <form ng-switch-when="register">
            <div>
                <label class="control-label">E-mail: </label>
                <input type="email" placeholder="e-mail" ng-model="user.email" ng-pattern="EMAIL_REGEXP" ngRequired="true"/>
                <div class="error" ng-show="user.email.$error.required">Obrigatório!</div>
                <div class="error" ng-show="user.email.$error.email">Email inválido!</div>
            </div>
            <div>
                <label class="control-label">Chave: </label>
                <input type="text" placeholder="chave" ng-model="user.username" ngRequired="true"/>
                <div class="error" ng-show="user.username.$error.required">Obrigatória!</div>
            </div>
            <div>
                <label class="control-label">Senha: </label>
                <input type="password" placeholder="senha" ng-model="password" ngRequired="true"/>
                <div class="error" ng-show="user.password.$error.required">Obrigatória!</div>
            </div>
            <button class="btn btn-primary" ng-click="register()">Registrar-se</button>
        </form>
        <!-- edit -->
        <form ng-switch-when="edit">
            <div>
                <label class="control-label">E-mail: </label>
                <input type="email" placeholder="e-mail" ng-model="user.email" ng-pattern="EMAIL_REGEXP" ngRequired="true"/>
            </div>
            <div>
                <label class="control-label">Chave: </label>
                <input type="text" placeholder="chave" ng-model="user.username" ngRequired="true"/>
            </div>
            <div>
                <label class="control-label">Senha: </label>
                <input type="password" placeholder="senha" ng-model="password" ngRequired="true"/>
            </div>
            <button class="btn btn-primary" ng-click="edit()">Alterar</button>
        </form>
        <!-- login -->
        <form ng-switch-when="login">
            <div>
                <label class="control-label">Chave: </label>
                <input type="text" placeholder="chave" ng-model="user.username" ngRequired="true"/>
            </div>
            <div>
                <label class="control-label">Senha: </label>
                <input type="password" placeholder="senha" ng-model="password" ngRequired="true"/>
            </div>
            <button class="btn btn-primary" ng-click="login()">Entrar</button>
        </form>
        <!-- logout -->
        <form ng-switch-when="logout">
            <div>Obrigado {{ user.login }}, volte sempre ...</div>
        </form>
        <!-- else -->
        <form ng-switch-default="">
            Ação inválida: '{{ action }}'.
        </form>
    </div>
</div>