<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">App-Commerce</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li ng-class="{ active: isActive('/products') }"><a href="#products">Aplicações</a></li>
                <li ng-class="{ active: isActive('/cart') }"><a href="#cart">Carrinho</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <table>
                        <tr><td>Busca:&nbsp;</td><td><input type="text" placeholder="Nome, Descrição" ng-model="shared_data.query"/></td></tr>
                        <tr><td>Ordena por:&nbsp;</td>
                        <td>
                            <select ng-model="shared_data.order_prop">
                                <option value="name">Nome</option>
                                <option value="price">Preço</option>
                                <option value="size">Tamanho</option>
                                <option value="system">Sistema Operacional</option>
                                <option value="type">Plataforma</option>
                                <option value="age">Classificação</option>
                            </select>
                        </td></tr>
                    </table>
                </li>
                <li>
                    <div ng-switch="typeof(shared_data.customer) !== 'undefined'">
                        <div ng-switch-when="true">
                            <div class="dropdown">
	                            <div class="dropdown-toggle" data-toggle="dropdown">
	                                <div class="glyphicon glyphicon-user"></div> {{ shared_data.customer.username }} <div class="caret"></div>
	                            </div>
	                            <ul class="dropdown-menu">
	                                <li><a href="#account/modify">Alterar conta</a></li>
	                                <li><a href="#account/logout">Sair</a></li>
	                            </ul>
	                        </div>
                            <a href="#cart" class="glyphicon glyphicon-shopping-cart" ng-disabled="shared_data.cart.getNumOfProducts() < 1">
                                Itens: <b>{{ shared_data.cart.getNumOfProducts() }}</b><br/>
                                Valor total: <b>{{ shared_data.cart.getTotalPrice() | currency }}</b>
                            </a>
                        </div>
                        <div ng-switch-default class="dropdown">
                            <a href="#account/register" class="glyphicon glyphicon-log-in"> Registrar-se</a>
                        </div>
                    </div>
                </li>
                <li>
            </ul>
        </div>
    </div>
</div>