<div class="container-fluid">
    <div class="row">
        <div ng-repeat="product in shared_data.products | filter:shared_data.query | orderBy:shared_data.order_prop">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ $index }} - <a href="#/products/{{ product.id }}">{{ product.name }}</a>
                    </div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <a href="#/products/{{ product.id }}">
                                    <img ng-src="{{ product.imageUrl }}" class="img-responsive"/>
                                    TODO edit imageUrl
                                </a>
                            </div>
                            <div class="row">
                                <p>{{product.snippet}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$index != 0">
                <div ng-if="$index % 6 == 0">
                    <div class="clearfix visible-lg"></div>
                </div>
                <div ng-if="$index % 4 == 0">
                    <div class="clearfix visible-xs"></div>
                </div>
                <div ng-if="$index % 3 == 0">
                    <div class="clearfix visible-xs"></div>
                </div>
                <div ng-if="$index % 2 == 0">
                    <div class="clearfix visible-xs"></div>
                </div>
            </div>
        </div>
    </div>
</div>