<div class="container-fluid">
    <div class="row-fluid">
        <div class="pull-left">
            <h3>Detalhes do aplicativo:</h3>
            <h3><a href="{{ product | ReferenceURLFilter }}">{{ product.name }}</a></h3>
        </div>
        <a href="{{ product | ReferenceURLFilter }}">
            <img height="125px" ng-src="{{ product | ImagePathFilter }}" />
        </a>
        <div class="row-fluid">
            <button class="btn btn-success" ng-click="session.cart.addProduct(product)">
                <div class="glyphicon glyphicon-ok"></div> Adiciona ao carrinho
            </button>
        </div>
    </div>
    <hr/>
    <div>
        <img ng-src="{{ img }}" ng-repeat="img in product.images" ng-class="{ active: main_image_url == img }" />
    </div>
    <h1 ng-bind-html="product.name | NewlineToBrFilter"></h1>
    <p ng-bind-html="product.description | NewlineToBrFilter"></p>
    <ul>
        <li ng-repeat="img in product.images"><img ng-src="{{ img }}" ng-mouseenter="setImage(img)"/></li>
    </ul>
    <ul>
        <li>
            <div>Availability and Networks</div>
            <dl>
                <dt>Availability</dt>
                <dd ng-repeat="availability in product.availability">{{ availability }}</dd>
            </dl>
        </li>
        <li>
            <div>Additional Features</div>
            <dl>
                <dd>{{ product.additionalFeatures }}</dd>
            </dl>
            <dl>
                <dt>Infrared</dt>
                <dd>{{ product.connectivity.infrared | CheckmarkFilter }}</dd>
                <dt>GPS</dt>
                <dd>{{ product.connectivity.gps | CheckmarkFilter }}</dd>
            </dl>
        </li>
    </ul>
</div>